<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">
            Bienvenido {{ nombre }}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="completo">
        <ion-row class="completo ion-align-items-center">
            <ion-col size="10" offset="1">
                <ion-button
                    href="notas"
                    color="tertiary"
                    expand="block"
                    size="large"
                    href="notas"
                >
                    Mis notas
                </ion-button>
            </ion-col>
            <ion-col size="10" offset="1">
                <ion-button
                    href="notas"
                    color="secondary"
                    expand="block"
                    size="large"
                >
                    Mis datos
                </ion-button>
            </ion-col>
            <ion-col size="10" offset="1">
                <ion-button
                    href="notas"
                    color="danger"
                    expand="block"
                    size="large"
                    href=""
                >
                    Salir
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>